body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.header h1::after{
    content: 'PIX';
    color: #FF9800;
}

.profiles {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar::before {
    content: '👤';
    font-size: 50px;
}

.profile p {
    font-size: 18px;
    margin: 10px 0 5px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-icon {
    width: 20px;
    height: 20px;
}

.app-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.app-button:hover {
    background-color: #555;
}
