<img src="logo-agendaPIX.png" alt="" height="150px" width="150px">

<div class="container">
    <div class="header">
        <img src="" alt="Angular" class="icon">
        <img src="" alt="Laravel" class="icon">
        <h1>Agenda</h1>
    </div>
    <div class="profiles">
        <div class="profile">
            <div class="avatar"></div>
            <p>Jean Pierre Rodriguez</p>
            <div class="links">
                <img src="" alt="LinkedIn" class="link-icon">
                <img src="" alt="GitHub" class="link-icon">
            </div>
        </div>
        <div class="profile">
            <div class="avatar"></div>
            <p>Jahir Celorio Malavé</p>
            <div class="links">
                <img src="" alt="LinkedIn" class="link-icon">
                <img src="" alt="GitHub" class="link-icon">
            </div>
        </div>
    </div>
    <button class="app-button">Ir a la aplicación</button>
</div>
