<p-toast 
[showTransformOptions]="'translateY(100%)'" 
[showTransitionOptions]="'1000ms'" 
[hideTransitionOptions]="'1000ms'" 
[showTransformOptions]="'translateX(100%)'" />

<div class="container">
    <aside class="sidebar">
        <div class="sidebar-header">
            <span class="logo">
                <img src="img/logo-app3.png" class="logo-svg" alt="agendaPIX">
                <span class="logo-text">AgendaPIX</span>
            </span>
        </div>
        <div class="sidebar-content">
            <ul class="menu">
                <li class="menu-section">
                    <div class="menu-section-header">Menu</div>
                    <ul class="menu-items">
                        <li class="menu-item">
                            <a routerLink="dashboard" class="menu-link">
                                <i class="pi pi-home"></i>
                                <span>Dashboard</span>
                            </a>
                            <a routerLink="add-contact" class="menu-link">
                                <i class="pi pi-plus"></i>
                                <span>Añadir contacto</span>
                            </a>
                            <a routerLink="list-contact" class="menu-link">
                                <i class="pi pi-list"></i>
                                <span>Lista de contactos</span>
                            </a>
                            <a (click)="logout()" class="menu-link">
                                <i class="pi pi-sign-out"></i>
                                <span>Salir</span>
                            </a>
                        </li>
                        <!-- ...otros elementos del menú... -->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <hr>
            <a href="#" class="user-info">
                <img src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="User Avatar" class="user-avatar">
                <span class="user-name">Mí perfil</span>
            </a>
        </div>
    </aside>
    <main class="main-content">
        <!-- Contenido principal -->
        <router-outlet/>
    </main>
</div>

