<div class="container">
    <div class="left-side">
        <div class="logo">LOGO</div>
        <form class="login-form">
            <label for="name">Nombre</label>
            <input type="text" class="ng-invalid ng-dirty" pInputText id="name" placeholder="Test"/>

            <label for="lastname">Apellido</label>
            <input type="text" class="ng-invalid ng-dirty" pInputText id="lastname" placeholder="Prueba"/>

            <label for="email">Correo electrónico</label>
            <input type="email" class="ng-invalid ng-dirty" pInputText id="email" placeholder="prueba@hotmail.com"/>
            
            <label for="password">Contraseña</label>
            <input type="password" class="ng-invalid ng-dirty" pInputText id="password" placeholder="xxxxxxxxxxxx"/>
            
            <div class="no-account"><a style="cursor: pointer; font-weight: 700;" (click)="Gotologin()">Ya tienes una cuenta?</a></div>
            <p-toast 
            [showTransformOptions]="'translateY(100%)'" 
            [showTransitionOptions]="'1000ms'" 
            [hideTransitionOptions]="'1000ms'" 
            [showTransformOptions]="'translateX(100%)'" />
            <p-button class="register_button" label="Crear cuenta" severity="info" (onClick)="show()"/>
        </form>
    </div>
    <div class="right-side">
        <!--  <img src="https://image.cdn2.seaart.ai/2024-07-19/cqcqrlde878c73d2pon0/94d4b6c1e811b96be3a2ed4cb423b6f0b54dd395_high.webp" alt="Background Image"> --->
        <ng-lottie
        width="600px"
        height="500px"
        containerClass="moving-box another-class"
        [styles]="styles"
        [options]="options"
        />
    </div>
</div>